# /etc/ipsec.secrets - GSWAN IPsec Credentials Template
# Private key for GIVIN node X.509 certificate
: RSA /etc/ipsec.d/private/givin-node.key

# Alternative Pre-Shared Key (PSK) mode if X.509 PKI is not provisioned by GIL
# @givin-c4i-node.police.gujarat.gov.in @gsdc-gw01.gswan.gujarat.gov.in : PSK "CHANGE_ME_TO_OFFICIAL_GIL_ISSUED_PSK_KEY_2026"
